* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #222222;
}

header {
  background-color: #74145f;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  margin-bottom: 10px;
}

nav {
  margin-top: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 15px;
}

section h2 {
  text-align: center;
}

ul {
  list-style-position: inside;
}

.project-card {
  background-color: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
  border: 2px solid #74145f;
}

#about img {
  width: 200px;
}

#about {
  display: flex;
  align-items: center;
  gap: 30px;
}
.about-text {
  text-align: center;
}

.skill-group ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.skill-group h3 {
  text-align: center;
}

#contact, #education{
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #74145f;
  color: white;
}

@media (max-width: 768px) {
  #about {
    flex-direction: column;
    text-align: center;
  }
}